@page "/CreationTache"

<h3>Creation Tache</h3>
<EditForm FormName="CreaTache" Model="@Tache" OnValidSubmit="@CreerTache">
    <Blazored.FluentValidation.FluentValidationValidator DisableAssemblyScanning="true"/>
    @* <DataAnnotationsValidator/> *@
@*     <ValidationSummary/> *@
    <div>
        <label for="NomTache">Nom de la Tâche:</label>
        <InputText id="NomTache" @bind-Value="Tache.NomTache" required/>
        <ValidationMessage For="() => Tache.NomTache"/>
    </div>
    <div>
@*         <label for="Statut">Statut:</label>
        <InputSelect id="Statut" @bind-Value="Tache.Statut" required>
            <option value="0">En cours</option>
            <option value="1">Terminée</option>
            <option value="2">En attente</option>
        </InputSelect> *@
    </div>
    <div>
        <label for="PrioriteTaches">Priorité:</label>
        <InputNumber id="PrioriteTaches" @bind-Value="Tache.PrioriteTaches" required />
    </div>
    <div>
        <label for="Recurrence">Récurrence:</label>
        <InputSelect id="Recurrence" @bind-Value="Tache.Recurrence">
            <option value="Non">Non</option>
            <option value="Quotidienne">Quotidienne</option>
            <option value="Hebdomadaire">Hebdomadaire</option>
            <option value="Mensuelle">Mensuelle</option>
        </InputSelect>
    </div>
    <div>
        <label for="Description">Description:</label>
        <InputTextArea id="Description" @bind-Value="Tache.Description" rows="6"/>
    </div>
    <div>
        <label for="DateEcheance">Date d'échéance:</label>
        <InputDate id="DateEcheance" @bind-Value="Tache.DateEcheance" required />
    </div>
@*         <div>
    Photo : <InputFile accept="image/*" OnChange="OnFileChosen" />

    @if (!string.IsNullOrEmpty(_imageBase64))
    {
        <img width="100" src="data:image/png;base64,@_imageBase64" />
    }
    </div> *@
    <button type="submit">Soumettre</button>
</EditForm>