@page "/Tache"
@using PowerRangeurAPI.API.DTOs.Tache
@using PowerRangeurAPI.Domain.Models

<h3>Tache</h3>
<button class="btn btn-info" type="button">
    <NavLink href="CreationTache">Créer une Tâche</NavLink>
</button>

<div class="taches row gap-3">
    <div class="TachesLibres col-md col-12 card d-flex flex-column gap-2">
        @foreach(TacheGet t in TachesLibres)
        {
            <div class="bg-info">
                @t.NomTache
            </div>
        }
    </div>
    <div class="TachesEncours col-md col-12 card">
        @foreach (TacheGet t in TachesEnCours)
        {
            <div class="bg-danger">
                @t.NomTache
            </div>
        }
    </div>
    <div class="TachesTerminees col-md col-12 card">
        @foreach (TacheGet t in TachesTerminees)
        {
            <div class="bg-success">
                @t.NomTache
            </div>
        }
    </div>
</div>
